.cart-dropdown-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  @media screen and (max-width:820px) {
    background: none;
}

  .container {
    position: relative;

    .cart-dropdown-container {
      position: absolute;
      width: 600px;
      height: calc(100% - 102px);
      display: flex;
      flex-direction: column;
      // padding: 20px;
      // border: 1px solid black;
      background-color: white;
      top: 102px;
      right: 0;
      z-index: 5;

      @media screen and (max-width:820px) {
       width: 100%;
       background-color: #eee;
    }

      header {
        background-color: black;
        margin: 0;
        color: #fff;
        padding: 15px;
        font-size: 18px;
        box-shadow: none;

        @media screen and (max-width:820px) {
          background-color: #fff;
          color: black;
          margin-top: 15px;
       }

        .remove-button {
          cursor: pointer;
        }
      }

      .empty-message {
        font-size: 18px;
        margin: 50px auto;
      }
      .empty-cart-container{
        line-height: normal;
        text-align: center;
        margin-top: 15%;
        height: 100%;
      }
      .cart-items {
        min-height: 55%;
        display: flex;
        flex-direction: column;
        overflow: auto;
        background-color: #eeeeee;
        @media screen and (max-width:820px) {
          min-height: 72%;
       }
      }

      .lowest-price-container {
        padding: 10px;
        background-color: #eee;
      }

      .lowest-price-div {
        display: flex;
        background-color: #fff;
        padding: 5px 10px;
        border-radius: 2px;
        line-height: 50px;
        @media screen and (max-width:404px) {
          line-height: normal;
          padding-top: 10px;
       }

       img{
        @media screen and (max-width:404px) {
          width: 30%;
          margin-right: 10px;
       }
       }
      }

      button {
        margin-top: auto;
      }

      footer {
        padding: 5px 10px;
        background-color: #fff;

        p {
          margin: 5px 0 10px;
          text-align: center;
        }

        button {
          width: 100%;
          display: flex;

          div {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
  .lnkButton{
    background-color: #bf2957;
    color: white;
    min-width: 165px;
    width: auto;
    height: 44px;
    letter-spacing: 0.5px;
    line-height: 44px;
    padding: 0 20px 0;
    font-size: 15px;
    font-family: "Dosis", sans-serif;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
}