body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // padding: 20px 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color:black;
}
*{
  box-sizing: border-box;
}
.container{
  max-width: 1220px;
  margin: 0 auto;
  height: 100%;
}
.pr-0{
  padding-right: 0;
}
.pl-0{
  padding-left: 0;
}
.flex{
  display: flex;
}
.space-between{
  justify-content: space-between;
}
.float-right{
  float: right;
}